<% if @yo.name == 'peter' %>
    <h3> Iniciaste sesion como administrador </h3>
<% else %>
    <h3> inciaste sesion como <%= @yo.name %> </h3> 
<% end %>


<div style= "display: flex;">
    <div>
        <% if @yo.name == 'peter' %>

            <%= form_with(url: c_vino_path, model: @vino, local: true) do |f| %>
                <%= f.text_field :nombre, placeholder: 'nombre vino' %>
                <div>
                    <% flash.each do |key, value| %>
                        <p style="color:red;"> <%= value %> </p>
                    <% end %>
                </div>
                <%= collection_check_boxes(:vino, :cepa_ids, @cepas, :id, :nombre) do |b| %>
                    <%= b.label(:"data-value" => b.value) { b.check_box + b.text }%>
                <% end %>
                <%= f.submit 'guardar' %>
            <% end %>
        <% end %>



        <h2> lista vinos </h2>



        <% @vinos.each do |i| %>
            <ul>
                <li> <%= form_with(url: porcen_path, model: @vino, local: true, method: :patch) do |nombre_vino| %> 
                        <%= nombre_vino.hidden_field :id, value: i.id %>
                        <% if @yo.name == 'peter' %>
                            <%= nombre_vino.text_field :nombre, value: i.nombre %>
                            <%= nombre_vino.submit 'editar nombre del vino' %>
                        <% else %>
                            <%= nombre_vino.text_field :nombre, value: i.nombre, disabled: true %>
                        <% end %>
                    <% end %> 
                    <ul>
                        <li> <% i.cepas.each do |a| %>
                                <%= form_with(url: c_u_path,model: @cepa, local:true, method: :patch) do |cepa| %>
                                    <% if @yo.name == 'peter' %> 
                                        <%= cepa.hidden_field :id, value: a.id %>
                                        <%= cepa.text_field :nombre, value: a.nombre %>
                                        <%= cepa.submit 'editar cepa' %>
                                    <% else %>
                                        <%= cepa.text_field :nombre, value: a.nombre, disabled: true %>
                                    <% end %>
                                <% end %>
                                <%= form_with(url: porcen_path, model: @vino_cepa, local: true, method: :patch) do |f| %>
                                    <% if @yo.name == 'peter' %>
                                        <%= f.text_field :porcentaje, value: VinoCepa.find_by(vino_id: i.id, cepa_id: a.id).porcentaje, placeholder:"porcentaje de #{a.nombre}" %>
                                        <%= f.submit 'asignar porcentaje' %>
                                    <% else %>
                                        <%= f.text_field :porcentaje, value: VinoCepa.find_by(vino_id: i.id, cepa_id: a.id).porcentaje, disabled: true %>
                                    <% end %>
                                        <%= f.hidden_field :id, value: VinoCepa.find_by(vino_id: i.id, cepa_id: a.id).id %>
                                <% end %>
                            <% end %>
                                <% if @yo.name == 'peter' %>
                                    <%= form_with(url: ev_u_path, model: @enologo_vino, local: true, method: :patch) do |nota| %>
                                        <%= nota.hidden_field :vino_id, value: i.id %>
                                        <%= nota.label 'seleccione un enologo' %>
                                        <%= nota.collection_select(:enologo_id, Enologo.all, :id, :name) %>
                                        <%= nota.number_field :nota, placeholder: 'nota vino' %>
                                        <%= nota.submit 'asignar nota' %>
                                    <% end %>
                                <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
        <% end %>

    </div>
    <div>
        <% @enologo_vino.each do |i| %>
            <ul>
                <li> Enologo: <%= i.enologo.name %> </li>
                <li> Vino: <%= i.vino.nombre %> </li>
                <li> Nota: <%= i.nota %> </li>
            </ul>
        <% end %>
    </div>

</div>